Project Programs/Node-RED_PLC-HMI_Hilal-Garg.json
[{"id":"99478d3c7bb28929","type":"tab","label":"Sensors & Actuators","disabled":false,"info":"","env":[]},{"id":"f2cda486d8d399a3","type":"ui_tab","name":"PLC & HMI","icon":"dashboard","disabled":false,"hidden":false},{"id":"5319b178cfff148b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5de8e059c352bd06","type":"ui_group","name":"Actuator Controls","tab":"f2cda486d8d399a3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b4d17603cbdfb60b","type":"ui_group","name":"Sensor Values","tab":"f2cda486d8d399a3","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2795798a.4e6316","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"1cb19fee.eabd9","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"7c9fbe9b.2b5018","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"d344fa4a.eaa9f8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"3e60f421.83aa88","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"c0e6e7b9.41a458","type":"ui_group","name":"Group 2","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"d3f6991.39b2268","type":"ui_spacer","name":"spacer","group":"c0e6e7b9.41a458","order":5,"width":6,"height":1},{"id":"8209fa14.18d448","type":"ui_spacer","name":"spacer","group":"c0e6e7b9.41a458","order":8,"width":6,"height":1},{"id":"a93e97ec.c7c5d8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://nodeRED:53880","secpol":"None","secmode":"None","login":false},{"id":"113227dd.97d098","type":"OpcUa-Endpoint","endpoint":"opc.tcp://TIA-V15:53880","secpol":"None","secmode":"None","login":false},{"id":"a1268e7d8e969c94","type":"OpcUa-Endpoint","endpoint":"opc.tcp://127.0.0.1:53880/","secpol":"None","secmode":"None","login":false},{"id":"d724533e13869c43","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.123.100:53880/","secpol":"None","secmode":"None","login":false},{"id":"2e25d1841a342df9","type":"ui_group","name":"Operator Inputs","tab":"f2cda486d8d399a3","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9041c5b10dd4623a","type":"ui_spacer","z":"99478d3c7bb28929","name":"spacer","group":"2e25d1841a342df9","order":3,"width":1,"height":1},{"id":"d1478f4d33c95e5e","type":"ui_group","name":"Inputs from SCADA","tab":"f2cda486d8d399a3","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a7c503f510bff83a","type":"rpi-gpio out","z":"99478d3c7bb28929","name":"","pin":"24","set":false,"level":"0","freq":"200","out":"pwm","bcm":true,"x":500,"y":180,"wires":[]},{"id":"80d19d2cad93bed3","type":"rpi-srf","z":"99478d3c7bb28929","name":"Ultrasonic Distance","topic":"SRF","pulse":"1","pins":"15,13","precision":"0","x":270,"y":700,"wires":[["45fa35b1d4f7a1fd","8760dec5b9131ef3"]]},{"id":"bbc471c69150f945","type":"function","z":"99478d3c7bb28929","d":true,"name":"Build OPC UA Message","func":"msg = { payload : { \"messageType\" : \"Variable\", \"variableName\": \"Tipo Real\", \"variableValue\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1880,"wires":[[]]},{"id":"8760dec5b9131ef3","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Distance","datatype":"Float","value":"","name":"","x":520,"y":760,"wires":[["5425dcc5abb9506f"]]},{"id":"3c3bbe86435e8f8d","type":"ui_switch","z":"99478d3c7bb28929","name":"","label":"LED","tooltip":"","group":"5de8e059c352bd06","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":230,"y":440,"wires":[["e629401e68874d53","b38ae423ae6455cb"]]},{"id":"e9543d35f47abb05","type":"ui_button","z":"99478d3c7bb28929","name":"","group":"5de8e059c352bd06","order":0,"width":0,"height":0,"passthru":true,"label":"Motor On","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":240,"y":180,"wires":[["d22d2b82a8c07e19","a7c503f510bff83a"]]},{"id":"2221b6c6dbd5476f","type":"ui_button","z":"99478d3c7bb28929","name":"","group":"5de8e059c352bd06","order":0,"width":0,"height":0,"passthru":true,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":240,"y":240,"wires":[["d22d2b82a8c07e19","a7c503f510bff83a"]]},{"id":"d22d2b82a8c07e19","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Motor","datatype":"Boolean","value":"","name":"","x":520,"y":240,"wires":[["5425dcc5abb9506f"]]},{"id":"b38ae423ae6455cb","type":"rpi-gpio out","z":"99478d3c7bb28929","name":"","pin":"23","set":true,"level":"0","freq":"","out":"out","bcm":true,"x":500,"y":440,"wires":[]},{"id":"e629401e68874d53","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=LED","datatype":"Boolean","value":"","name":"","x":520,"y":500,"wires":[["5425dcc5abb9506f"]]},{"id":"45fa35b1d4f7a1fd","type":"ui_gauge","z":"99478d3c7bb28929","name":"","group":"b4d17603cbdfb60b","order":0,"width":0,"height":0,"gtype":"gage","title":"Ultrasonic Distance","label":"cm","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":530,"y":700,"wires":[]},{"id":"ed7476f8ba6ee08e","type":"rpi-dht22","z":"99478d3c7bb28929","name":"","topic":"DHT11 Temp & Humidity","dht":"11","pintype":"0","pin":4,"x":150,"y":900,"wires":[["c0a4037df86a2da4","360dfe6f1c7166fd","92213afaeaf92a65"]]},{"id":"d087524957282563","type":"inject","z":"99478d3c7bb28929","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":150,"y":860,"wires":[["ed7476f8ba6ee08e"]]},{"id":"c0a4037df86a2da4","type":"function","z":"99478d3c7bb28929","name":"","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":960,"wires":[["fb462ed5b622296f","b03ec212d117bb13"]]},{"id":"5425dcc5abb9506f","type":"OpcUa-Client","z":"99478d3c7bb28929","endpoint":"d724533e13869c43","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA Client Write","x":880,"y":660,"wires":[[]]},{"id":"360dfe6f1c7166fd","type":"ui_chart","z":"99478d3c7bb28929","name":"Temperature","group":"b4d17603cbdfb60b","order":1,"width":0,"height":0,"label":"Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":860,"wires":[[]]},{"id":"fb462ed5b622296f","type":"ui_chart","z":"99478d3c7bb28929","name":"Humidity ","group":"b4d17603cbdfb60b","order":1,"width":0,"height":0,"label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":500,"y":960,"wires":[[]]},{"id":"92213afaeaf92a65","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Temperature","datatype":"Float","value":"","name":"","x":520,"y":900,"wires":[["5425dcc5abb9506f"]]},{"id":"b03ec212d117bb13","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Humidity","datatype":"Float","value":"","name":"","x":520,"y":1020,"wires":[["5425dcc5abb9506f"]]},{"id":"e9e29827061547af","type":"ui_switch","z":"99478d3c7bb28929","name":"","label":"Push Button","tooltip":"","group":"2e25d1841a342df9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":250,"y":1200,"wires":[["1d27ecb35df3dea1"]]},{"id":"1d27ecb35df3dea1","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Push_Button","datatype":"Boolean","value":"","name":"","x":520,"y":1200,"wires":[["5425dcc5abb9506f"]]},{"id":"f21df6e3c0c700e1","type":"ui_text_input","z":"99478d3c7bb28929","name":"","label":"Text Input","tooltip":"","group":"2e25d1841a342df9","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":240,"y":1260,"wires":[["ddb8787025fc05b7"]]},{"id":"41740dfb0c62bbd2","type":"ui_dropdown","z":"99478d3c7bb28929","name":"","label":"Selection 1","tooltip":"","place":"Select option","group":"2e25d1841a342df9","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Option 1","value":1,"type":"num"},{"label":"Option 2","value":2,"type":"num"},{"label":"Option 3","value":3,"type":"num"},{"label":"Option 4","value":4,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":250,"y":1320,"wires":[["4216889b47064a74"]]},{"id":"f351ae21ae47fb53","type":"ui_dropdown","z":"99478d3c7bb28929","name":"","label":"Selection 2","tooltip":"","place":"Select option","group":"2e25d1841a342df9","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Option A","value":"A","type":"str"},{"label":"Option B","value":"B","type":"str"},{"label":"Option C","value":"C","type":"str"},{"label":"Option D","value":"D","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":250,"y":1380,"wires":[["a7ace73cf975013b"]]},{"id":"ddb8787025fc05b7","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Text_Input","datatype":"String","value":"","name":"","x":520,"y":1260,"wires":[["5425dcc5abb9506f"]]},{"id":"4216889b47064a74","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Selection1","datatype":"Int32","value":"","name":"","x":520,"y":1320,"wires":[["5425dcc5abb9506f"]]},{"id":"a7ace73cf975013b","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Selection2","datatype":"String","value":"","name":"","x":520,"y":1380,"wires":[["5425dcc5abb9506f"]]},{"id":"39b895111867d716","type":"OpcUa-Client","z":"99478d3c7bb28929","endpoint":"d724533e13869c43","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA Client Read","x":360,"y":120,"wires":[["db2ad7268185c56b"]]},{"id":"99fc9fec4e4d99b8","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Motor_SCADA","datatype":"Boolean","value":"","name":"","x":140,"y":120,"wires":[["39b895111867d716"]]},{"id":"b161177be46f11b3","type":"inject","z":"99478d3c7bb28929","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":80,"wires":[["99fc9fec4e4d99b8"]]},{"id":"338d3e66fe950370","type":"OpcUa-Client","z":"99478d3c7bb28929","endpoint":"d724533e13869c43","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA Client Read","x":340,"y":380,"wires":[["1f5655803fd3a251"]]},{"id":"c84a7a963d33d00d","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=LED_SCADA","datatype":"Boolean","value":"","name":"","x":120,"y":380,"wires":[["338d3e66fe950370"]]},{"id":"474d2decd2e320eb","type":"inject","z":"99478d3c7bb28929","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":340,"wires":[["c84a7a963d33d00d"]]},{"id":"b0178eada0728555","type":"OpcUa-Client","z":"99478d3c7bb28929","endpoint":"d724533e13869c43","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA Client Read","x":400,"y":1600,"wires":[["e960e18fe3173158"]]},{"id":"c3f51176fd08f062","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=Status_SCADA","datatype":"String","value":"","name":"","x":160,"y":1600,"wires":[["b0178eada0728555"]]},{"id":"784f904922ed5e8d","type":"inject","z":"99478d3c7bb28929","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":1560,"wires":[["c3f51176fd08f062"]]},{"id":"e960e18fe3173158","type":"ui_text","z":"99478d3c7bb28929","group":"d1478f4d33c95e5e","order":3,"width":0,"height":0,"name":"","label":"Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":620,"y":1600,"wires":[]},{"id":"1f5655803fd3a251","type":"rbe","z":"99478d3c7bb28929","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":530,"y":380,"wires":[["b38ae423ae6455cb"]]},{"id":"db2ad7268185c56b","type":"rbe","z":"99478d3c7bb28929","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":550,"y":120,"wires":[["a7c503f510bff83a"]]},{"id":"35a8692147736d51","type":"OpcUa-Client","z":"99478d3c7bb28929","endpoint":"d724533e13869c43","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA Client Read","x":400,"y":1760,"wires":[["34eefd2a064749a8"]]},{"id":"957c359f26607168","type":"OpcUa-Item","z":"99478d3c7bb28929","item":"ns=2;s=SliderValue_SCADA","datatype":"Float","value":"","name":"","x":160,"y":1760,"wires":[["35a8692147736d51"]]},{"id":"1e309922ce9466d2","type":"inject","z":"99478d3c7bb28929","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":1720,"wires":[["957c359f26607168"]]},{"id":"34eefd2a064749a8","type":"ui_numeric","z":"99478d3c7bb28929","name":"","label":"Slider Value","tooltip":"","group":"d1478f4d33c95e5e","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"1000","step":"0.5","className":"","x":630,"y":1760,"wires":[[]]},{"id":"c1dc681db1b5381e","type":"ui_text_input","z":"99478d3c7bb28929","name":"","label":"[Parallel direct control of LED and Motor]","tooltip":"","group":"d1478f4d33c95e5e","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":720,"y":1680,"wires":[[]]}]